* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #3eb99b;
}

a {
	text-decoration: none;
}

#cover {
	background-color: white;
	color: white;
	height: 220px;
}

#cover img {
	padding-top: 30px;
}

#main {
	padding-top: 100px;
	color: white;
	background-image: url("../images/cover-image.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
	height: 400px;
}

#main p {
	font-size: 40px;
	font-family: "Indie Flower", cursive;
	margin-bottom: 50px;
}

.tokens {
	display: inline-block;
	width: 300px;
	margin: 60px 40px 0px 40px;
	height: 500px;
}

.tokens h2, .tokens p {
	margin-top: 20px;
}

.tokens2 {
	display: inline-block;
	max-width: 800px;
	margin: 0px 0px 60px 0px;
	height: 400px;
}

.tokens2 h2, .tokens2 p {
	margin-top: 20px;
}






/*  DIFFERNT SIGN UP STYES FOR NON BANNER

#signup {
	color: white;
}

#signup h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 100px;
	max-width: 350px;
	margin: auto;
	background-color: #3eb99b;
	transition: all 0.3s ease;
}

#signup h3 {
	color: #40d3af;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 100px;
	max-width: 250px;
	margin: auto;
	background-color: white;
	margin-top: 50px;
	border-color: #40d3af;
	border-style: solid;
	transition: all 0.3s ease;
}

#signup h3:hover {
	max-width: 300px;
}

#signup h2:hover {
	max-width: 400px;
}
*/



#main h2 {
	color: #3eb99b;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 100px;
	max-width: 350px;
	margin: auto;
	background-color: white;
	transition: all 0.3s ease;
}

#main h3 {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 100px;
	max-width: 250px;
	margin: auto;
	margin-top: 50px;
	border-color: white;
	border-style: solid;
	transition: all 0.3s ease;
}

#main h3:hover {
	max-width: 300px;
}

#main h2:hover {
	max-width: 400px;
}





#app-store {
	padding-top: 200px;
	height: 300px;
}